:root{
--Grey500: hsl(0, 0%, 63%);
--Grey800: hsl(0, 0%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
    position: relative;
    z-index: 1;
}
nav img:last-child{
    margin: 0 auto;
}
#menu{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 2.5rem 2rem;
    display: flex;
}
ul{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 2rem;
    list-style-type: none;
    font-weight: 600;
}
main{
    position: absolute;
    top: 0;
    margin: 0;
}
section{
    margin: 0;
}
#main-img img{
    width: 100%;
}
main section:first-child{
    position: relative;
}
#arrows{
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0.25rem;
    right: 0;
}
#arrows img{
    background-color: black;
    padding: 1rem 1.2rem;
}
article{
    display: none;
    margin: 0;
    padding: 4rem 1.5rem;
}

article:first-child{
    display: block;
}
/* Fade animation */
.fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.show {
  opacity: 1;
}
article h1{
    font-size: 10vw;
    font-weight: 700;
    margin-bottom: 1rem;
}
p{
    font-weight: 500;
    margin:1rem 0;
    color: var(--Grey500);
    line-height: 1.2rem;
}
button{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 10px;
}
article div{
    margin: 1.5rem 0 0;
}
article div img{
    margin: 0 1rem;
}
section:last-child div{
    margin: 2rem;
}
h2{
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media  screen and (min-width:770px) {
    nav{
        width: 50vw;
    }
    main div{
        display: flex;
    }
}