:root{
--Grey500: hsl(0, 0%, 63%);
--Grey800: hsl(0, 0%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
    position: relative;
    z-index: 1;
}
nav img:last-child{
    margin: 0 auto;
}
#menu{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 2.5rem 2rem;
    display: flex;
    z-index: 1;
    box-shadow: 0 0 0 200vmax rgba(0,0,0,0.7);
}
ul{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 2rem;
    list-style-type: none;
    font-weight: 600;
}
main{
    position: absolute;
    top: 0;
    margin: 0;
}
section{
    margin: 0;
}
#main-img img{
    width: 100%;
}
main section:first-child{
    position: relative;
}
#arrows{
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0.25rem;
    right: 0;
}
#arrows img{
    background-color: black;
    padding: 1rem 1.2rem;
}
article{
    display: none;
    margin: 0;
    padding: 4rem 1.5rem;
}

article:first-child{
    display: block;
}
/* Fade animation */
.fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.show {
  opacity: 1;
}
article h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
p{
    font-weight: 500;
    margin:1rem 0;
    color: var(--Grey500);
    line-height: 1.2rem;
}
button{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 10px;
}
article div:first-child{
    margin: 1.5rem 0 0;
}
article div img{
    margin: 0 1rem;
}
main > section:last-child div{
    margin: 2rem;
}
h2{
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}
article > div:hover{
    opacity: 0.5;
}
#arrows img:hover{
    opacity: 0.7;
}
@media  screen and (min-width:770px) {
    #menu-open,#menu-close{
        display: none;
    }
    #menu{
        position: relative;
        display: flex;
        box-shadow: none;
        z-index: 1;
        background-color: transparent;
    }
    nav{
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 2rem 4rem;
    }
    ul{
        margin-left: 2rem;
        justify-content: flex-start;
        align-items: center;
        gap: 2.5rem;
        color: white;
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        top: 5px;
    }
    li:after{
        content: " ";
        border: 1.5px solid white;
        width: 50%;
        opacity: 0;
    }
    li:hover::after{
        opacity: 1;
    }

    #main-img img{
        width: 75vw;
    }    
    #arrows{
        bottom: 0;
        right: -8.5rem;
    }
    #arrows img{
        padding: 1.5rem 1.7rem;
    }
    main div:first-child,div section:first-child{
        display: flex;
    }
    article{
        padding: 10vw 7vw;
    }
    article > div{
        margin: 2.5rem 0;
    }
    main > section{
        display: flex;
    }
    main > section div{
        width: 125vw;
        align-content: center;
    }
    
}
@media screen and (min-width:1184px) {
    #main-img img{
        width: 64.25vw;
    }
     main > section div{
        width: 104.5vw;
        align-content: center;
    }
}